/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

body{
	padding: 30px;
}

.link {
	color: red;
}
.link:visited{
	color: green;
}
.link:hover{
	text-decoration: underline;
	color: blue;
}
.link:active{
	color:yellow;
}

.list {}
.list li{
	font-size: 20px;
	margin: 0 0 30px 0;
	padding: 0 0 0 30px;
}

.list li{
	background: url('../img/icons/check icon.png') left 0 no-repeat;

}

.list li:first-child {
	text-decoration: line-through;
}

.list li:nth-child(2) {
	font-weight: bold;
}
.list li:nth-child(3) {
	font-style: italic;
}
.list li:last-child {
	text-transform: uppercase;
}

/*При наведении*/

.list li:first-child:hover {
	text-decoration: none;
}

.list li:nth-child(2):hover {
	color: red;
	background: url('../img/icons/check icon red.png')  no-repeat;
}
.list li:nth-child(3):hover {
	font-style: normal;
}
.list li:last-child:hover {
	text-transform: none;
}

.button{

	width: 220px;
	height: 45px;
	background-color: #80b7b3;
	border-radius: 30px;
}

.button:hover{
	background-color: #3a5856;
}
.button:active{
	background-color: #818181;
}

.full_story {
	align-items: center;
	font-size: 14px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	letter-spacing: 4px;
}

.full_story:after{
	content: url("../img/icons/arrow.png");
	margin: 10px 0 0 10px;
}

 .textinput {
	 border: 1px solid #666;
	 height: 50px;
	 padding: 0 15px;
	 font-size: 18px;
	 width: 300px;
	 margin: 0 0 10px 30px;
 }

.textinput:focus{
	box-shadow: 0 0 10px #7fbed5;
}